<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>

    <div class="article-entry" itemprop="articleBody">
      <% if (!index){ %>
        <%- post.content %>
      <% } %>
    </div>

    <footer class="article-footer">
      <%- partial('post/tag') %>
    </footer>
  </div>

  <div class="msgboard">
    <h2>留言板</h2>
      <div class="msgs" id='msgs'></div>
      <div class="mymsg" id='mymsg'>
        <p><input id='mymsg-name' type='text' placeholder='你的名字' /> 说:</p>
        <textarea id='mymsg-msg' placeholder='写下你的留言...'></textarea>
        <button onClick='handleSubmit()'>提交</button>
      </div>
  </div>

  <script>
    var msg = null
    var mycite = null

    function formatTime(date) {
      var paddy = (n, p, c) => {
        var padChar = typeof c !== 'undefined' ? c : '0'
        var pad = new Array(1 + p).join(padChar)
        return (pad + n).slice(-pad.length)
      }

      date = new Date(date)
      var yyyy = date.getFullYear()
      var M = date.getMonth() + 1
      var MM = paddy(M, 2)
      var d = date.getDate()
      var dd = paddy(d, 2)
      var hh = paddy(date.getHours(), 2)
      var mm = paddy(date.getMinutes(), 2)
      var ss = paddy(date.getSeconds(), 2)
      return yyyy+'-'+MM+'-'+dd+' '+hh+':'+mm+':'+ss
    }

    function getCites(cite) {
      if (!cite || !msgs) return []
      const newCite = msgs[cite].cite
      const cites = getCites(newCite, msgs)
      cites.push(msgs[cite])
      return cites
    }

     function renderCites(cites) {
      if (!cites) return ''
      var html = ''
      if (cites.length > 0) html += '<h5 style="color: #333;">对于: </h5>'
      for(var i in cites) {
        html += '<blockquote class="cite">' +
                  '<h6>' + cites[i].name + '<span>说</span></h6>' +
                  '<p>' + cites[i].msg + '</p>' +
                '</blockquote>'
      }
      return html
    }

    function setMyCite(i) {
      clearMyCite()
      mycite = i
      var html = ''
      html += '<div>' +
                '<h5>引用: </h5>' +
                '<blockquote>' +
                  '<h6>' + msgs[i].name + ' 说: </h6>' +
                  '<p>' + msgs[i].msg + '</p>' +
                  '<span onClick="clearMyCite()">+</span>' +
                '</blockquote>' +
              '</div>'
      var mymsg = document.getElementById('mymsg')
      mymsg.innerHTML = html + mymsg.innerHTML
    }

    function clearMyCite() {
      if (mycite) {
        mycite = null
        var mymsg = document.getElementById('mymsg')
        mymsg.removeChild(mymsg.firstChild)
      }
    }

    function renderMsg(i, msg) {
      if (!msg) return ''
      var html = '<div class="msg-item" >'
      html += renderCites(getCites(msg.cite))
      html += '<h5>' + msg.name + ' <span>说</span></h5>' +
              '<p>' + msg.msg + '</p>' +
              '<p><time>' + formatTime(msg.time) + '</time><a onClick=\'setMyCite("' + i + '")\'>引用</a></p>'
      html += '</div>'
      return html
    }

    function handleSubmit() {
      var nameEle = document.getElementById('mymsg-name')
      var name = nameEle.value
      if (!name) {
        alert('请输入名字')
        return
      }
      var msgEle = document.getElementById('mymsg-msg')
      var msg = msgEle.value
      if (!msg) {
        alert('请输入留言')
        return
      }

      const ref = wilddog.sync().ref("<%- post.slug %>").child('msgs')
      ref.push({
        name: name,
        msg: msg,
        time: new Date().getTime(),
        cite: mycite
      })

      nameEle.value = ''
      msgEle.value = ''
      clearMyCite()
    }

    // get & render all msgs
    wilddog.sync().ref("<%- post.slug %>").child('msgs').on('value', snapshot => {
      msgs = snapshot.val()
      if (!msgs || msgs.length === 0) {
        document.getElementById('msgs').innerHTML = '<p style="text-align: center; color: #333">色即是空</p>'
      } else {
        var html = ''
        for(var i in msgs) {
          html += renderMsg(i, msgs[i])
        }
        document.getElementById('msgs').innerHTML = html
      }
    })

  </script>

  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
